.page{
	
	background-color:#fff;
}
.header{
	background-color:#fff;
/*background-image:url('/public/images/encabezado');*/
}
.body_left{
	background-color:#fff;
	
}
.label{
	font-color: black;
}
.body_left_login{
	background-color:#fff;
	font-size: 20px;
}

.header-text{
	font-size: 26px;
	font-style: bold;
}
.panel{
	background-color:#fff;
	font-size: 26px;
	font-style: bold;
	height:80px;
	width:80px;
}
.enlace{
	background-color:#66CCFF;
	
	
}
.fisheyeDemo { 
		margin : 5px 40px; 
		position : relative;
		padding-left: 20%;

  }
.footer{
	color:white;
	font-size:6px;

}
